<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tck.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Andersen_2">
        <activity
            android:name=".lessonOneTwo.LessonOneTwo"
            android:exported="false"
            android:label="1.2A &amp; 1.2B" />
        <activity
            android:name=".lessonTwoOne_TwoTwo.ReplyActivity"
            android:exported="false"
            android:label="Second Activity" />
        <activity
            android:name=".lessonTwoThree.LessonTwoThree"
            android:exported="false"
            android:label="@string/Lesson2_3" />
        <activity
            android:name=".lessonTwoOne_TwoTwo.LessonTwoOne"
            android:exported="false"
            android:label="2.1 &amp; 2.2" />
        <activity
            android:name=".lessonOneFour.LessonOneFour"
            android:exported="false"
            android:label="@string/Lesson1_4" />
        <activity
            android:name=".lessonOneThree.LessonOneThree"
            android:exported="false"
            android:label="@string/Lesson1_3" />
        <activity
            android:name=".lessonOneOne.LessonOneOne"
            android:exported="false"
            android:label="@string/Lesson1_1" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>